<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head :: head">

</head>

<body>
<!-- Header start -->
<header>
    <div class="container" th:replace="fragments/header :: header">
        <p>header</p>
    </div>
</header>
<!-- Header end -->

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-area">
                        <h2>Impressum</h2>
                        <p>Hier finden Sie alles was man über uns wissen muss.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- About item start-->
<div class="about-item">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text">
                    <h2>Impressum</h2>
                    <p>Matthias Oberegger <br/>
                        Heligraphy <br/>
                        Pfarrgraben 6 <br/>
                        4713 Gallspach <br/>
                        E-Mail: info@heligraphy.at<br/>
                        Tel: +43 676 4677 516 <br/>
                        Ust-IdNr: ATU72351206</p>

                    <hr/>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <h1><strong>Haftungsausschluss</strong></h1>
                            <br/>
                            Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Webseite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.

                        <br/>
                        <h3><strong>Haftung für Inhalte dieser Webseite</strong></h3>
                        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Wir sind jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                        <br/>
                        <h3><strong>Haftung für Links auf Webseiten Dritter</strong></h3>
                            Unser Angebot enthält Links zu externen Websites. Auf den Inhalt dieser externen Webseiten haben wir keinerlei Einfluss. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                        <br/>
                        <h3><strong>Urheberrecht</strong></h3>
                        Die Betreiber dieser Webseite sind bemüht, stets die Urheberrechte anderer zu beachten bzw. auf selbst erstellte sowie lizenzfreie Werke zurückzugreifen. Die durch die Seitenbetreiber erstellten Inhalte und Werke auf dieser Webseite unterliegen dem Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.

                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <h1><strong>Datenschutz</strong></h1>
                            <br/>
                            Wir legen großen Wert auf den Schutz Ihrer Daten. Um Sie in vollem Umfang über die Verwendung personenbezogener Daten zu informieren, bitten wir Sie die folgenden Datenschutzhinweise zur Kenntnis zu nehmen.
                            <br/>
                            <h3><strong>Persönliche Daten</strong></h3>
                            Persönliche Daten, die Sie auf dieser Website elektronisch übermitteln, wie zum Beispiel Name, E-Mail-Adresse, Adresse oder andere persönlichen Angaben, werden von uns nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben. Der Provider erhebt und speichert automatisch Informationen am Webserver wie verwendeter Browser, Betriebssystem, Verweisseite, IP-Adresse, Uhrzeit des Zugriffs usw. Diese Daten können ohne Prüfung weiterer Datenquellen keinen bestimmten Personen zugeordnet werden und wir werten diese Daten auch nicht weiter aus solange keine rechtswidrige Nutzung unserer Webseite vorliegt.

                            <br/>
                            <h3><strong>Auskunftsrecht</strong></h3>
                            Sie haben jederzeit das Recht auf Auskunft über die bezüglich Ihrer Person gespeicherten Daten, deren Herkunft und Empfänger sowie den Zweck der Speicherung

                        </p>
                    </div>

                    <a href="contact-2.html" class="btn btn-submit">Kontaktieren Sie uns</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About item end -->

<!-- About team meet start -->
<div class="about-team-meet content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Das Team</h1>
            <div class="border">
                <div class="border-inner"></div>
            </div>
            <p></p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail about-box">
                    <img  th:src="@{images/bilder/matt.JPG}" alt="profile-1" id="size340" class="img-responsive size340" />
                    <div class="caption detail">
                        <h5>Inhaber</h5>
                        <h3>Matthias Oberegger</h3>
                        <p>Pilot und Firmengründer</p>
                        <ul class="social-list">
                            <li>
                                <a href="https://www.facebook.com/mazioberegger" >
                                    <i class="material-icons">settings_ethernet</i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail about-box">
                    <img  src="images/bilder/koch.jpg" alt="profile-3" id="size340" class="img-responsive size340" />
                    <div class="caption detail">
                        <h5>Fotograf</h5>
                        <h3>Christoph Koch</h3>
                        <p>Erfahrender Fotograf</p>
                        <ul class="social-list">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100008577307991&amp;fref=ts" >
                                    <i class="material-icons">settings_ethernet</i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- About team meet end -->

<!-- We best start-->
<div class="we-best content-area">
    <div class="container">
        <div class="main-title">
            <h1>Von den Besten das Beste</h1>
            <p></p>
        </div>
        <div class="row mgn-btm">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-02s">
                <div class="content">
                    <i class="flaticon-call-center-agent"></i>
                    <h4>Persönliches Gespräch</h4>
                    <p>Sie wünschen ein persönliches Gespräch um uns Ihre Wünsche zu berichten? Rufen Sie einfach an oder verwenden Sie das Kontaktformular.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-02s">
                <div class="content">
                    <i class="flaticon-car"></i>
                    <h4>Winter Aufnahmen</h4>
                    <p>Sie wollen Ihr Haus im Wintermantel haben? Kein Problem. Wir fliegen auch im Winter.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInRight delay-02s">
                <div class="content">
                    <i class="flaticon-mixer"></i>
                    <h4>Mit der besten Technik</h4>
                    <p>Wir verwenden modernste Technik um die Bilder aufzunehmen, zu bearbeiten sowie für die Speicherung und Archivierung.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInRight delay-02s">
                <div class="content">
                    <i class="flaticon-satellite-transmission"></i>
                    <h4>Verfügbarkeit</h4>
                    <p>Ihre Bilder sind jederzeit für Sie zugänlich. Egal ob Handy, Tablet oder PC.
                    </p>
                </div>
            </div>
        </div>
        <a href="services-2.html" class="btn btn-submit">Unser Angebot</a>
    </div>
</div>
<!-- We best end -->

<!-- Testimonial style two start-->
<div hidden="true" class="testimonial-style-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <div class="sec-title-three">
                    <h4>Happy Clients</h4>
                    <h2>Our Happy<br/>Clients Feedbacks</h2>
                    <div class="text">
                        Dolor sit amet auctor egestas libero is arcu. Wisi anteati lis pulvinar officiiss neque massa egestas.
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <div class="testimonials">
                    <div id="carouse2-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item content clearfix">
                                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                    <div class="avatar">
                                        <img  src="http://placehold.it/220x220" alt="avatar-1" class="img-responsive" />
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="text">
                                        <sup>
                                            <i class="fa fa-quote-left"></i>
                                        </sup>
                                        For me as a student it was a great challenge world and decide about my career. Now I am positive everything is going to be settled fast.
                                        <sub>
                                            <i class="fa fa-quote-right"></i>
                                        </sub>
                                    </div>
                                    <div class="author-name">
                                        John Deo
                                    </div>
                                    <ul class="rating">
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-half-full"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item content active clearfix">
                                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                    <div class="avatar">
                                        <img  src="http://placehold.it/220x220" alt="avatar-1" class="img-responsive" />
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="text">
                                        <sup>
                                            <i class="fa fa-quote-left"></i>
                                        </sup>
                                        For me as a student it was a great challenge world and decide about my career. Now I am positive everything is going to be settled fast.
                                        <sub>
                                            <i class="fa fa-quote-right"></i>
                                        </sub>
                                    </div>
                                    <div class="author-name">
                                        John Deo
                                    </div>
                                    <ul class="rating">
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-half-full"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item content clearfix">
                                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                    <div class="avatar">
                                        <img  src="http://placehold.it/220x220" alt="avatar-1" class="img-responsive" />
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="text">
                                        <sup>
                                            <i class="fa fa-quote-left"></i>
                                        </sup>
                                        For me as a student it was a great challenge world and decide about my career. Now I am positive everything is going to be settled fast.
                                        <sub>
                                            <i class="fa fa-quote-right"></i>
                                        </sub>
                                    </div>
                                    <div class="author-name">
                                        John Deo
                                    </div>
                                    <ul class="rating">
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-half-full"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item content clearfix">
                                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                    <div class="avatar">
                                        <img  src="http://placehold.it/220x220" alt="avatar-1" class="img-responsive" />
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 ">
                                    <div class="text">
                                        <sup>
                                            <i class="fa fa-quote-left"></i>
                                        </sup>
                                        For me as a student it was a great challenge world and decide about my career. Now I am positive everything is going to be settled fast.
                                        <sup>
                                            <i class="fa fa-quote-right"></i>
                                        </sup>

                                    </div>
                                    <div class="author-name">
                                        John Deo
                                    </div>
                                    <ul class="rating">
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-half-full"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carouse2-example-generic" role="button" data-slide="prev">
                            <span class="slider-mover-left" aria-hidden="true">
                                <img  src="images/png/chevron-left.png" alt="left-chevron" />
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carouse2-example-generic" role="button" data-slide="next">
                            <span class="slider-mover-right" aria-hidden="true">
                                <img  src="images/png/chevron-right.png" alt="right-chevron" />
                            </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial style two end-->

<!-- Footer start-->
<footer>
    <div class="container" th:replace="fragments/footer :: footer">
        <p>footer</p>
    </div>
</footer>
<!-- Footer end-->

<!-- Copy right start-->
<div class="copy-right">
    <div class="container">
        <p>Copyright 2017. All rights reserved by: HeliGraphy</p>
    </div>
</div>
<!-- Copy right end-->

<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-slider.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollUp.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Custom javascript -->
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>