<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head :: head">

</head>
<body>
<!-- Header start -->
<header>
    <div class="container" th:replace="fragments/header :: header">
        <p>header</p>
    </div>
</header>
<!-- Header end -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-area">
                        <h2>Bestelldetails</h2>
                        <p></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="col-md-12  col-sm-12  col-xs-8 " style="background:#fff; padding:30px;">

        <div class="row" hidden="true">
            <div style="display: table; margin: auto;">
            <span class="step step_complete"> <a href="/shoppingchartSum" class="check-bc">Warenkorb</a> <span
                    class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>
                <span class="step step_complete"> <a href="#" class="check-bc">Versanddetails</a> <span
                        class="step_line "> </span> <span class="step_line step_complete"> </span> </span>

                <span class="step "> <a href="#" class="check-bc">Übersicht</a> <span
                        class="step_line "> </span> <span
                        class="step_line "> </span> </span>
                <span class="step_thankyou check-bc step_complete">Fertig</span>
            </div>
        </div>


        <ul class="nav nav-tabs tabscenter">
            <li class="active"><a data-toggle="tab" href="#home">Bereits registriert</a></li>
            <li><a data-toggle="tab" href="#menu1">Neu hier</a></li>

        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3 class="text-center">Bentuzer</h3>
                <hr/>
                <form id="contact_form_user" th:action="@{/VersandDetailsWithUser}" th:object="${LoginCommand}"
                      method="POST"
                      enctype="multipart/form-data">
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>-->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group userreg">
                            <input type="email" name="email" class="form-control input-md" id="loginemail"
                                   placeholder="Email Address" th:field="*{username}"/>
                        </div>

                        <div class="form-group userreg">
                            <input type="password" name="Password" class="form-control input-md" id="Password"
                                   placeholder="Password" th:field="*{password}"/>
                        </div>
                        <div th:replace="fragments/zahlungsart :: zahlungsarten">
                            <p>footer</p>
                        </div>

                    </div>

                    <div class="form-group send-btn col-md-12 col-sm-12 col-xs-12">
                        <hr/>
                        <button type="submit" class="btn btn-submit right">Weiter zur Übersicht</button>
                    </div>
                </form>
            </div>

            <div id="menu1" class="tab-pane fade">
                <form id="contact_form" th:action="@{/VersandDetails}" th:object="${AdressenCommand}" method="POST"
                      enctype="multipart/form-data">
                    <h3 class="text-center">Versand Adresse</h3>
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                        </div>
                        <hr/>

                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="Vorname" id="first_name" class="form-control input-md"
                                       placeholder="Name"
                                       th:field="*{nameVA}"/>
                            </div>
                        </div>


                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="email" name="Email" id="email" class="form-control input-md"
                                       placeholder="Email"
                                       th:field="*{emailVA}"/>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6" hidden="true">
                            <div class="form-group">
                                <input type="text" name="tel" id="tel" class="form-control input-md"
                                       placeholder="Telefonnummer"
                                       th:field="*{telVA}"/>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="strasse" id="strasse" class="form-control input-md"
                                       placeholder="Straße"
                                       th:field="*{strasseVA}"/>
                            </div>
                        </div>


                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="ort" id="ort" class="form-control input-md"
                                       placeholder="Ort"
                                       th:field="*{ortVA}"/>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="land" id="land" class="form-control input-md"
                                       placeholder="Land"
                                       th:field="*{landVA}"/>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="plz" id="plz" class="form-control input-md"
                                       placeholder="PLZ"
                                       th:field="*{plzVA}"/>
                            </div>
                        </div>

                        <div style="margin-left: 20px;">
                            <input class="coupon_question" id="cbAdr" type="checkbox" name="coupon_question"
                                   value="1"/>
                            <span class="item-text">Andere Rechnungsadresse</span>
                        </div>


                        <div class="col-md-12 col-sm-12 col-xs-12" hidden="true" id="REadresse">
                            <h3 class="text-center">Rechnungs Adresse</h3>

                            <hr/>

                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Vorname" id="first_nameRA" class="form-control input-md"
                                           placeholder="Name"
                                           th:field="*{nameRA}"/>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Email" id="emailRA" class="form-control input-md"
                                           placeholder="Email"
                                           th:field="*{emailRA}"/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="tel" id="telRA" class="form-control input-md"
                                           placeholder="Telefonnummer"
                                           th:field="*{telRA}"/>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="strasse" id="strasseRA" class="form-control input-md"
                                           placeholder="Straße"
                                           th:field="*{strasseRA}"/>
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="ort" id="ortRA" class="form-control input-md"
                                           placeholder="Ort"
                                           th:field="*{ortRA}"/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="land" id="landRA" class="form-control input-md"
                                           placeholder="Land"
                                           th:field="*{landRA}"/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="plz" id="plzRA" class="form-control input-md"
                                           placeholder="PLZ"
                                           th:field="*{plzRA}"/>
                                </div>
                            </div>

                        </div>


                        <div th:replace="fragments/zahlungsart :: zahlungsarten2">
                            <p>footer</p>
                        </div>

                    </div>

                    <div class="form-group send-btn">

                        <button type="submit" class="btn btn-submit right">Weiter zur Übersicht</button>
                    </div>
                </form>
            </div>
            <div class="form-group ">

                <p>*Sollten Sie Onlineüberweisung auswählen, werden Sie anschließend auf die Bezahlseite weitereleitet.</p>
            </div>
        </div>


    </div>

</div>


<!-- Footer start-->
<footer>
    <div class="container" th:replace="fragments/footer :: footer">
        <p>footer</p>
    </div>
</footer>
<!-- Footer end-->

<!-- Copy right start-->
<div class="copy-right">
    <div class="container">
        <p>Copyright 2017. All rights reserved by: Heligrapy</p>
    </div>
</div>
<!-- Copy right end-->

<script>

    $('#cbAdr').click(function () {
        if ($('#cbAdr:checked').length > 0) {
            $("#REadresse").show();
        } else {
            $("#REadresse").hide();
        }
    });


</script>

<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-slider.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollUp.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Custom javascript -->
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
