<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head :: head">

</head>
<header>
    <div class="container" th:replace="fragments/header :: header">
        <p>header</p>
    </div>
</header><!-- Header end -->

<body>
<!-- Header end -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-area">
                        <h2>Nutzerbereich</h2>
                        <p></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>


<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form class="form-horizontal" th:action="@{/memberArea/aendern}" th:object="${currentUser}" method="post">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Mein Benutzer Profil</legend>

                    <!-- Text input-->


                    <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label class="col-md-4 control-label" >Name </label>
                        <div class="col-md-4">
                            <div class="form-group form-group">
                                <input id="Name" name="Name (Full name)" type="text" placeholder="Name (ganzer Name)" class="form-control" th:field="*{name}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label class="col-md-4 control-label" >Email </label>
                        <div class="col-md-4">
                            <div class="form-group form-group">
                                <input id="email" name="email" type="text" placeholder="Email" class="form-control  input-md" th:field="*{email}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label class="col-md-4 control-label" >Titel </label>
                        <div class="col-md-4">
                            <div class="form-group form-group">
                                <input id="titel" name="titel" type="text" placeholder="Titel" class="form-control input-md" th:field="*{titel}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label class="col-md-4 control-label" >Telefon </label>
                        <div class="col-md-4">
                            <div class="form-group form-group">
                                <input id="telefon" name="telefon" type="text" placeholder="Telefonnummer" class="form-control input-md" th:field="*{telefon}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label class="col-md-4 control-label" >Benutzername </label>
                        <div class="col-md-4">
                            <div class="form-group form-group">
                                <input id="benutzername" name="benutzername" type="text" placeholder="Benutzername" class="form-control input-md" th:field="*{username}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6">
                        <label class="col-md-4 control-label" >Passwort </label>
                        <div class="col-md-4">
                            <div class="form-group form-group">
                                <input id="passwort" name="passwort" type="password" placeholder="Passwort" class="form-control input-md" th:field="*{passwort}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 right">
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 right">

                        <div class="col-md-4">
                            <div class="form-group form-group">
                                <a><input class="btn" type="submit" value="Speichern" /></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group">
                                <a th:href="@{/memberArea/loeschen}"><button type="button" class="btn btn-danger" >Benutzer löschen</button></a>
                            </div>
                        </div>
                    </div>



                </fieldset>
            </form>
        </div>

    </div>
</div>


<footer>
    <div class="container" th:replace="fragments/footer :: footer">
        <p>footer</p>
    </div>
</footer>

<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-slider.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollUp.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Custom javascript -->
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
