<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head :: head">

</head>
<body>
<!-- Header start -->
<header>
    <div class="container" th:replace="fragments/header :: header">
        <p>header</p>
    </div>
</header>
<!-- Header end -->

<!-- Header end -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-area">
                        <h2>Übersicht</h2>
                        <p></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>


<div class="container">
    <div class="row" hidden="true">
        <div style="display: table; margin: auto;">
            <span class="step step_complete"> <a href="/shoppingchartSum" class="check-bc">Warenkorb</a> <span
                    class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>
            <span class="step step_complete"> <a href="#" class="check-bc">Versanddetails</a> <span
                    class="step_line "> </span> <span class="step_line step_complete"> </span> </span>

            <span class="step step_complete"> <a href="#" class="check-bc">Übersicht</a> <span
                    class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
            <span class="step_thankyou check-bc step_complete">Fertig</span>
        </div>
    </div>

    <hr/>


    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover" th:object="${overviewPrice}">
                <thead>
                <tr>
                    <th>Bild</th>
                    <th>Stück</th>
                    <th> </th>
                    <th class="text-center">Preis</th>
                    <th class="text-right">Gesamt</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="item,it :${Items}">
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="pull-left"> <img th:src="@{/overview/}+${item.id}"
                                                                  alt="Bild konnte nicht geladen werden"
                                                                 class="img-responsive"
                                                                 style="width: 72px; height: 72px;"/> </a>
                            <div class="media-body">
                                <h4 class="media-heading"></h4>
                                <h5 class="media-heading" th:text="'Bild ' + ${it.count}"> von Fotograf</h5>
                                <span>Lieferzeit: </span><span
                                    class="text-success"><strong>ca. 7 Werktage</strong></span>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <strong th:value="${item.quantity}"> </strong>
                    </td>
                    <td class="col-sm-1 col-md-1"></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong th:text="${item.price}+'€'">$4.87</strong></td>
                    <td class="col-sm-1 col-md-1 text-right"><strong th:text="${item.price}*${item.quantity} +' €'">$14.61</strong>
                    </td>
                </tr>

                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td><h5>Zwischensumme</h5></td>
                    <td class="text-right"><h5><strong th:text="*{zwischenSumme} +' €'">$24.59</strong></h5></td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td><h5>Versandkosten</h5></td>
                    <td class="text-right"><h5><strong th:text="*{versandkosten}+ ' €'">$6.94</strong></h5></td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td><h3>Gesamtbetrag</h3></td>
                    <td class="text-right"><h3><strong th:text="*{gesamtkosten} + ' €'">$31.53</strong></h3></td>
                </tr>

                <tr>
                    <td>  <a href="/weitereinkaufen">
                        <button type="button"  class="btn btn-default">
                             Weiter einkaufen
                        </button>
                    </a></td>
                    <td>  </td>
                    <td>  </td>
                    <td> <p><input type="checkbox" id="checkbox"/> Ich nehme die <a href="agb.html">AGBs</a>zur Kenntnis. </p></td>
                    <td>
                        <a href="/BestellungAbsenden">
                            <button type="button" class="btn btn-success" id="kaufen" disabled="true">
                                Zahlungspflichtig bestellen
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr/>

<footer>
    <div class="container" th:replace="fragments/footer :: footer">
        <p>footer</p>
    </div>
</footer>
<!-- Footer end-->

<!-- Copy right start-->
<div class="copy-right">
    <div class="container">
        <p>Copyright 2017. All rights reserved by: Heligrapy</p>
    </div>
</div>
<!-- Copy right end-->
<script>

    $('#checkbox').click(function () {
        if (!$(this).is(':checked')) {
            $('#kaufen').attr("disabled", "true");
        } else {
            $('#kaufen').removeAttr("disabled");
        }

    });
</script>


<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-slider.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollUp.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Custom javascript -->
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
