<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:include="fragments/head :: head">

</head>
<body>

<!-- Header start -->
<header>
    <div class="container" th:replace="fragments/header :: header">
        <p>header</p>
    </div>
</header>
<!-- Header end -->

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-area">
                        <h2>Bilder Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Car details body start-->
<div class="car-details-body" th:object="${bild}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Option bar start-->
                <div class="option-bar  details-option-bar clearfix">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="section-heading">
                                <div class="media">
                                    <div class="media-left">
                                        <i hidden="true" class="flaticon-sedan-car-front"></i>
                                    </div>
                                    <div class="media-body hidden-xs">
                                        <h4>Ihr Foto im Detail</h4>
                                        <div class="border"></div>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="header-price">
                                <h3 hidden="true">$399,500</h3>
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Option bar end-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="car-details sidebar-widget">
                    <!-- Car detail slider start-->
                    <div class="car-detail-slider simple-slider">
                        <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                            <div class="carousel-outer">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class='item active'>
                                        <img th:src="@{/picture-details/}+${bild.id}" class="thumb-preview auto-height"
                                             id="auto-height" alt='Detail Bild' style="height: 100px"/>
                                        <img src="images/logos/logo.png" id="wasserzeichen"/>
                                    </div>

                                </div>

                            </div>
                            <!-- Indicators -->

                        </div>
                    </div>
                    <!-- Car detail slider end-->
                    <br/>
                    <!-- Car Specifications start -->
                    <div class="car-specifications clearfix visible-xs sidebar-widget">
                        <!-- Option bar -->
                        <div class="option-bar clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="section-heading">
                                        <div class="media">
                                            <div class="media-left">
                                                <i hidden="true" class="flaticon-sedan-car-front"></i>
                                            </div>
                                            <div class="media-body">
                                                <h4>Details zum Bild</h4>
                                                <div class="border"></div>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Reviews Box -->
                        <div hidden="true" class="reviews-box clearfix">
                            <ul class="reviews-star-list">
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <div class="reviews">156 reviews</div>
                            <a href="#" class="add-review">
                                <i class="fa fa-plus-circle"></i>Add Review
                            </a>
                        </div>


                    </div>
                    <!-- Car details end -->

                    <!-- Panel box start -->
                    <div class="panel-box" >



                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab" aria-expanded="true">Preise</a></li>
                           <!-- <li class=""><a href="#tab2default" data-toggle="tab" aria-expanded="false">Allgemeine Infos</a></li>-->
                            <li class=""><a href="#tab3default" data-toggle="tab" aria-expanded="false">Häufige Fragen</a></li>
                        </ul>
                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab1default">

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInLeft delay-03s">
                                                <!-- Pricing tables box start-->
                                                <div class="pricing-tables-box">
                                                    <!-- Price Header -->
                                                    <div class="price-header">
                                                        <!-- Title-->
                                                        <h3 th:text="${preise[0].preisPlan}" ></h3>
                                                        <!-- Price -->

                                                 <em>€</em> <span th:text="${#numbers.formatDecimal(preise[0].preis, 2, 'COMMA', 00, 'POINT')}"></span>
                                                    </div>
                                                    <!-- details -->
                                                    <div class="details">
                                                        <ul>
                                                            <li>
                                                                Druck auf DIN A3 Bild
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li>
                                                                Glänzendes Fotopapier
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li >
                                                                weitere Bildrechte
                                                                <div class="checks">&#10060;</div>
                                                            </li>
                                                            <li>
                                                                Vervielfältigung
                                                                <div class="checks">&#10060;</div>
                                                            </li>
                                                            <li>
                                                                Download Datei
                                                                <div class="checks">&#10060;</div>
                                                            </li>
                                                            <li >
                                                                Jedes weitere Bild ab<sup>*1</sup>
                                                                <i>60€</i>
                                                            </li>

                                                        </ul>
                                                        <!-- Btn -->

                                                    </div>
                                                </div>
                                                <!-- Pricing tables box end-->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                                                <!-- Pricing tables box start-->
                                                <div class="pricing-tables-box " >
                                                    <!-- Price Header -->
                                                    <div class="price-header price-header-red" style="background: #0088CC">
                                                        <!-- Title-->
                                                        <h3 th:text="${preise[1].preisPlan}" ></h3>
                                                        <!-- Price -->

                            <em>€</em> <span th:text="${#numbers.formatDecimal(preise[1].preis, 2, 'COMMA', 00, 'POINT')}"></span>
                                                    </div>
                                                    <!-- details -->
                                                    <div class="details">
                                                        <ul>
                                                            <li>
                                                                Download
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li>
                                                                Drucken so oft Sie wollen
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li >
                                                                Vervielfältigen so oft Sie wollen
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li>
                                                                online verwenden
                                                                <div class="checks">&#10060;</div>

                                                            </li>
                                                            <li>
                                                                Datei im Raw Format
                                                                <div class="checks">&#10060;</div>

                                                            </li>

                                                            <li >
                                                                Jedes weitere Bild ab<sup>*1</sup>
                                                                <i >80€</i>
                                                            </li>
                                                        </ul>
                                                        <!-- Btn -->

                                                    </div>
                                                </div>
                                                <!-- Pricing tables box end-->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                                                <!-- Pricing tables box start-->
                                                <div class="pricing-tables-box">
                                                    <!-- Price Header -->
                                                    <div class="price-header">
                                                        <!-- Title-->
                                                        <h3 th:text="${preise[2].preisPlan}" ></h3>
                                                        <!-- Price -->

                            <em>€</em> <span th:text="${#numbers.formatDecimal(preise[2].preis, 2, 'COMMA', 00, 'POINT')}"></span>
                                                    </div>
                                                    <!-- details -->
                                                    <div class="details">
                                                        <ul>
                                                            <li>
                                                                Fotoleinwand
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li>
                                                                hochwertiges Material
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li >
                                                                90x60 (auf Wunsch auch in anderen Formaten)
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li>
                                                                Perfekt fürs Wohnzimmer
                                                                <div class="checks">&#9989;</div>
                                                            </li>


                                                        </ul>
                                                        <!-- Btn -->

                                                    </div>
                                                </div>
                                                <!-- Pricing tables box end-->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInRight delay-03s">
                                                <!-- Pricing tables box start-->
                                                <div class="pricing-tables-box">
                                                    <!-- Price Header -->
                                                    <div class="price-header">
                                                        <!-- Title-->
                                                        <h3 th:text="${preise[3].preisPlan}" ></h3>
                                                        <!-- Price -->

                                                        <span th:text="${#numbers.formatDecimal(preise[3].preis, 0, 'COMMA', 00, 'POINT')} =='599' ? 'Preis auf Anrage':'€'+${#numbers.formatDecimal(preise[3].preis, 0, 'COMMA', 00, 'POINT')}"></span>
                                                    </div>
                                                    <!-- details -->
                                                    <div class="details">
                                                        <ul>
                                                            <li>
                                                                Download
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li>
                                                                Lizenz zur Bearbeitung
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li >
                                                                Lizenz zur kommerziellen Verwendung
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li>
                                                                Datei im Raw Format
                                                                <div class="checks">&#9989;</div>
                                                            </li>
                                                            <li hidden="true">
                                                                inkl. Basic Paket
                                                                <i class="fa fa-check"></i>
                                                            </li>

                                                        </ul>
                                                        <!-- Btn -->

                                                    </div>
                                                </div>
                                                <!-- Pricing tables box end-->
                                            </div>
                                            <br/>

                                            <sup>*1</sup><p>Bitte für weitere Bilder eine Anfrage an info@heligraphy.at senden damit wir Ihnen ein an Sie angepasstes Angebot schreiben können.</p>

                                        </div>
                                    </div>

                                    <div class="tab-pane fade technical" id="tab2default">
                                        <p>Das Kopieren dieses Bildes ist ausdrücklich verboten. </p>
                                        <p></p>

                                    </div>

                                    <div class="tab-pane fade technical" id="tab3default">
                                        <div class="panel with-nav-tabs panel-default">
                                            <div class="panel-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade active in" id="generalInformataion">
                                                        <div class="panel-div">
                                                            <div class="panel-group" role="tablist">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading active" role="tab" id="heading1">
                                                                        <h4 class="panel-title">
                                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false">
                                                                                <i class="fa fa-plus"></i>Wie kann ich bezahlen?
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                                                                        <div class="panel-body panel-body-2">
                                                                            <div class="row">

                                                                                <div class="col-md-9 col-sm-8 col-xm-12">
                                                                                    <p>Es besteht die Möglichkeit per Vorkasse oder Onlinebanking zu bezahlen.  </p>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="heading2">
                                                                        <h4 class="panel-title">
                                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false">
                                                                                <i class="fa fa-plus"></i>Dürfen von meinem Haus Bilder aufgenommen werden?
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                                                        <div class="panel-body panel-body-2">
                                                                            <div class="row">
                                                                                <div class="col-md-9 col-sm-8 col-xm-12">
                                                                                    <p>Laut §130 des österreichischen Luftfahrtgesetzes, Stand 22.09.2015, dürfen Luftaufnahmen durchgeführt werden. Bilder dürfen aber nicht einfach öffentlich bereit gestellt
                                                                                        werden. Deshalb sind unsere Bilder mit einem zufällig erstellten Code hinterlegt. Dieser Code wird an den Besitzer des fotografierten Hauses zugesandt. Somit können die Bilder nur von jenen
                                                                                        eingesehen werden die diesen Code besitzen.</p>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="heading3">
                                                                        <h4 class="panel-title">
                                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false">
                                                                                <i class="fa fa-plus"></i> Wie komme ich zu einem Bild?
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                                                        <div class="panel-body panel-body-2">
                                                                            <div class="row">

                                                                                <div class="col-md-9 col-sm-8 col-xm-12">
                                                                                    <p>Sobald wir ein Bild für Sie gemacht haben, erhalten Sie eine Postkarte mit einem persönlichen Code. Mit diesem Code können Sie auf unserer <a href="index.html">Startseite</a>
                                                                                        Ihre Bilder einsehen. Wenn Ihnen ein Bild gefällt, können Sie das gewünschte Paket auswählen und das Bild in den Einkaufswagen legen. Dann werden noch Ihre Adressdaten benötigt.
                                                                                        Bevor Sie die Bestellung abschließen, können Sie nochmals Ihren Einkauf überprüfen. Wenn Sie auf den Button "Zahlungspflichtig bestellen" drücken, ist Ihre Bestellung abgeschlossen und
                                                                                        Sie erhalten eine Bestätigungsmail.
                                                                                    </p>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="heading4">
                                                                        <h4 class="panel-title">
                                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false">
                                                                                <i class="fa fa-plus"></i> Sind Versandkosten zu zahlen?
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                                                        <div class="panel-body panel-body-2">
                                                                            <div class="row">

                                                                                <div class="col-md-9 col-sm-8 col-xm-12">
                                                                                    <p>Wir berechnen eine Versandpauschale von 5€ bei Zahlung per Vorkasse und 8€ bei Zahlung mit Nachnahme. Für einen Download verrechnen wir keine weiteren Kosten.
                                                                                    </p>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="heading5">
                                                                        <h4 class="panel-title">
                                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false">
                                                                                <i class="fa fa-plus"></i>Wie lange dauert der Versand?
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                                                        <div class="panel-body panel-body-2">
                                                                            <div class="row">

                                                                                <div class="col-md-9 col-sm-8 col-xm-12">
                                                                                    <p>Rechnen Sie mit etwa 7 Werktagen. In den meisten Fällen kommt das Paktet aber früher.
                                                                                    </p>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Panel box end -->

                    <!-- Amenities start-->
                    <div hidden="true" class="amenities">
                        <h2 class="title">Specifications</h2>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 amenities-box">
                                <ul>
                                    <li>
                                        <i class="flaticon-sedan-car-front"></i>
                                        <span>Body Style:</span> Sedan
                                    </li>
                                    <li>
                                        <i class="flaticon-racing-flag"></i>
                                        <span>Category:</span> Sports Car
                                    </li>
                                    <li>
                                        <i class="flaticon-gasoline-pump"></i>
                                        <span>Fuel Type:</span> Diesel
                                    </li>
                                    <li>
                                        <i class="flaticon-road-with-broken-line"></i>
                                        <span>Mileage:</span> 40,200 KM
                                    </li>
                                    <li>
                                        <i class="flaticon-engine"></i>
                                        <span>Engine:</span> 3200
                                    </li>
                                    <li>
                                        <i class="flaticon-time"></i>
                                        <span>Year:</span> 2010
                                    </li>
                                    <li>
                                        <i class="flaticon-transport"></i>
                                        <span>Gear:</span> 5
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 amenities-box">
                                <ul>
                                    <li>
                                        <i class="flaticon-speedometer"></i>
                                        <span>Top Speed:</span> 260
                                    </li>
                                    <li>
                                        <i class="flaticon-automatic-flash-symbol"></i>
                                        <span>Transmission:</span> Automatic
                                    </li>

                                    <li>
                                        <i class="flaticon-settings"></i>
                                        <span>Torque</span> 4500
                                    </li>
                                    <li>
                                        <i class="flaticon-rim"></i>
                                        <span>Drive Train:</span> Front Wheel
                                    </li>

                                    <li>
                                        <i class="flaticon-paint-brush"></i>
                                        <span>Interior Color:</span> Black
                                    </li>
                                    <li>
                                        <i class="flaticon-paint-brush"></i>
                                        <span>Exterior Color:</span> White
                                    </li>
                                    <li>
                                        <i class="flaticon-placeholder"></i>
                                        <span>Location:</span> Florisa, USA
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 amenities-box">
                                <ul>

                                    <li>
                                        <i class="flaticon-car-door"></i>
                                        <span>Doors:</span> 4
                                    </li>
                                    <li>
                                        <i class="flaticon-plug"></i>
                                        <span>Horse Power:</span> 310
                                    </li>
                                    <li>
                                        <i class="flaticon-person-recycling"></i>
                                        <span>Condition:</span> Used
                                    </li>

                                    <li>
                                        <i class="flaticon-dollar-symbol"></i>
                                        <span>CO2-Emissions:</span> Dollar 5
                                    </li>

                                    <li>
                                        <i class="flaticon-factory-stock-house"></i>
                                        <span>Stock:</span> 2
                                    </li>

                                    <li>
                                        <i class="flaticon-time"></i>
                                        <span>Expire:</span> Dec 5, 2017
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- About end-->
                </div>
                <!-- Content div end-->


            </div>
            <div class="col-ld-4 col-md-4 col-sm-12 col-xs-12">
                <div class="details-sidebar pad-div">
                    <!-- Car details sidebar start -->
                    <div class="sidebar-widget car-details-sidebar">
                        <div class="section-heading option-bar">
                            <div class="media">
                                <div class="media-left">
                                    <i hidden="true" class="flaticon-sedan-car-front"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Informationen zum Bild</h4>
                                    <div class="border"></div>
                                    <p>Diese Infos richten sich nach der verwendeten Kamera</p>
                                </div>
                            </div>
                        </div>
                        <form action="#" th:action="@{/addToChart}" th:object="${Item}" method="post">
                            <ul>

                                <li>
                                    <span text="">Heligraphy Bild ID</span>
                                    <p th:text="${bild.id}"></p>
                                </li>
                                <li th:each="values: ${bild.metadata}">
                                    <span th:text="${values.key}"></span>
                                    <p th:text="${values.value}"></p><input hidden="true" th:value="${bild.id}"
                                                                            th:field="*{id}"/>
                                </li>
                                <li>
                                    <span>Land</span>Österreich
                                </li>
                                <li>
                                    <span>Preis zzgl. Versand</span>
                                    <select th:field="*{price}">
                                        <option th:each="preis : ${preise}" th:value="${preis.id} "
                                                th:text="${preis.preisPlan}+ ' '+ ${preis.preis}+' €'"></option>
                                    </select>

                                </li>

                                <li>

                                    <span></span> <input class="btn btn-view" value="Kaufen" type="submit"/>

                                </li>

                            </ul>
                        </form>
                    </div>
                    <!-- Car details end -->

                    <!-- Help center start -->
                    <div class="helping-Center sidebar-widget grae-color">
                        <h2 class="title">Helping Center</h2>
                        <ul class="contact-link">
                            <li>

                                <i class="material-icons">&#xE87C;</i>
                                Matthias Oberegger
                            </li>
                            <li>
                                <i class="material-icons">phone</i>
                                <a href="tel:+43 676 4677 516">
                                    +43 676 4677 516
                                </a>
                            </li>
                            <li>
                                <i class="material-icons">email</i>
                                <a href="mailto:info@heligraphy.at">
                                    info@heligraphy.at
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Help center end -->

                    <!-- Social list start -->
                    <div hidden="true" class="social-box clearfix">
                        <h2 class="title">Social Media</h2>
                        <ul class="social-list-2">
                            <li>
                                <a href="#" class="facebook-bg">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter-bg">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="google-bg">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="linkedin-bg">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest-bg">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Social list end -->


                    <!-- Google map location start -->
                    <div hidden="true" class="map_sidebar">
                        <h2 class="title">Location</h2>
                        <div class="section">
                            <div class="map">
                                <div id="map" class="contact-map"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Google map location end -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Car details body end-->

<!-- Footer start-->
<footer>
    <div class="container" th:replace="fragments/footer :: footer">
        <p>footer</p>
    </div>
</footer>
<!-- Footer end-->

<!-- Copy right start-->
<div class="copy-right">
    <div class="container">
        <p>Copyright 2017. All rights reserved by: Heligraphy
        </p>
    </div>
</div>
<!-- Copy right end-->

<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-slider.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollUp.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Custom javascript -->
<script type="text/javascript" src="js/app.js"></script>
<script>
    $('img').mousedown(function (e) {
        if (e.button == 2) { // right click
            return false; // do nothing!
        }
    });
</script>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>