<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head :: head">

</head>


    <!-- Header start -->
<header>
    <div class="container" th:replace="fragments/header :: header">
        <p>header</p>
    </div>
</header>
<!-- Header end -->
 
<body>


<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-area">
                        <h2>Preise</h2>
                        <p></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Pricing tables start -->
<div class="pricing-tables content-area">
    <div class="container">
        <!-- Main title start -->
        <div class="main-title">
            <h1></h1>
            <div class="border">
                <div class="border-inner"></div>
            </div>
            <p>Mit unseren Preisen können wir beste Leistung zu fairen Preisen bieten.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-03s">
                <!-- Pricing tables box start-->
                <div class="pricing-tables-box">
                    <!-- Price Header -->
                    <div class="price-header">
                        <!-- Title-->
                        <h3>Basic</h3>
                        <!-- Price -->
                        <span>
                            <em>€ </em>280
                        </span>
                    </div>
                    <!-- details -->
                    <div class="details">
                        <ul>
                            <li>
                                Druck auf DIN A3 Bild
                                <i class="fa fa-check"></i>
                            </li>
                            <li>
                                Glänzendes Fotopapier
                                <i class="fa fa-check"></i>
                            </li>
                            <li >
                                weitere Bildrechte
                                <i class="fa fa-close closet"></i>
                            </li>
                            <li>
                                Vervielfältigung
                                <i class="fa fa-close closet"></i>
                            </li>
                            <li>
                                Download Datei
                                <i class="fa fa-close closet"></i>
                            </li>
                            <li hidden="true">
                                jedes weitere Bild (zgl. Druckkosten)
                                <i>120€</i>
                            </li>
                            
                        </ul>
                        <!-- Btn -->

                    </div>
                </div>
                <!-- Pricing tables box end-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                <!-- Pricing tables box start-->
                <div class="pricing-tables-box " >
                    <!-- Price Header -->
                    <div class="price-header price-header-red" style="background: #0088CC">
                        <!-- Title-->
                        <h3>Standard</h3>
                        <!-- Price -->
                        <span>
                            <em>€ </em>350
                        </span>
                    </div>
                    <!-- details -->
                    <div class="details">
                        <ul>
                            <li>
                                Download
                                <i class="fa fa-check"></i>
                            </li>
                            <li>
                                Drucken so oft Sie wollen
                                <i class="fa fa-check"></i>
                            </li>
                            <li >
                                Vervielfältigen so oft Sie wollen
                                <i class="fa fa-check "></i>
                            </li>
                            <li>
                                online verwenden
                                <i class="fa fa-close closet"></i>
                            </li>
                                <li>
                                Datei im Raw Format
                                <i class="fa fa-close closet"></i>
                            </li>
                            
                            <li hidden="true">
                                <b>Standart Plus</b> (Rechte zur online Verwendung)
                                <i >100€</i>
                            </li>
                        </ul>
                        <!-- Btn -->

                    </div>
                </div>
                <!-- Pricing tables box end-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                <!-- Pricing tables box start-->
                <div class="pricing-tables-box">
                    <!-- Price Header -->
                    <div class="price-header">
                        <!-- Title-->
                        <h3>Premium</h3>
                        <!-- Price -->
                        <span>
                            <em>€ </em>500
                        </span>
                    </div>
                    <!-- details -->
                    <div class="details">
                        <ul>
                            <li>
                                Fotoleinwand
                                <i class="fa fa-check"></i>
                            </li>
                            <li>
                                hochwertiges Material
                                <i class="fa fa-check"></i>
                            </li>
                            <li >
                                90x60 (auf Wunsch auch in anderen Formaten)
                                <i class="fa fa-check"></i>
                            </li>
                            <li>
                                Perfekt fürs Wohnzimmer
                                <i class="fa fa-check"></i>
                            </li>

                            
                        </ul>
                        <!-- Btn -->

                    </div>
                </div>
                <!-- Pricing tables box end-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInRight delay-03s">
                <!-- Pricing tables box start-->
                <div class="pricing-tables-box">
                    <!-- Price Header -->
                    <div class="price-header">
                        <!-- Title-->
                        <h3>Professional</h3>
                        <!-- Price -->
                        <span>
                            <em>€ </em>700
                        </span>
                    </div>
                    <!-- details -->
                    <div class="details">
                        <ul>
                            <li>
                                Download
                                <i class="fa fa-check"></i>
                            </li>
                            <li>
                                Lizenz zur Bearbeitung
                                <i class="fa fa-check"></i>
                            </li>
                            <li >
                                Lizenz zur kommerziellen Verwendung
                                <i class="fa fa-check"></i>
                            </li>
                            <li>
                                Datei im Raw Format
                                <i class="fa fa-check"></i>
                            </li>
                            <li hidden="true">
                                inkl. Basic Paket
                                <i class="fa fa-check"></i>
                            </li>
                            <li hidden="true">
                                Jedes weitere Bild  
                                <i>200€</i>
                            </li>
                        </ul>
                        <!-- Btn -->

                    </div>
                </div>
                <!-- Pricing tables box end-->
            </div>
        </div>
    </div>
</div>
<!-- Pricing tables end -->

<!-- Partners block start -->
<div class="partners-block" hidden="true">
    <div class="container">
        <h3>Brands $ Partners</h3>
        <div class="container">
            <div class="col-md-12">
                <div class="carousel our-partners slide" id="ourPartners">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/180x105" alt="brand-1" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/180x105" alt="/brand-2" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/180x105" alt="brand-3" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/180x105" alt="brand-4" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/180x105" alt="brand-5" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#ourPartners" data-slide="prev"><i class="fa fa-chevron-left icon-prev"></i></a>
                    <a class="right carousel-control" href="#ourPartners" data-slide="next"><i class="fa fa-chevron-right icon-next"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partners block end -->

<!-- Footer start-->
<footer>
    <div class="container" th:replace="fragments/footer :: footer">
        <p>footer</p>
    </div>
</footer>
<!-- Footer end-->

<!-- Copy right start-->
<div class="copy-right">
    <div class="container">
        <p>Copyright 2017. All rights reserved by: Heligrapy</p>
    </div>
</div>
<!-- Copy right end-->

<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-slider.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollUp.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Custom javascript -->
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>