<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head :: head">



</head>


    <!-- Header start -->
<header>
    <div class="container" th:replace="fragments/header :: header">
        <p>header</p>
    </div>
</header>
<!-- Header end -->
 
<body>


<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-area">
                        <h2>Preise</h2>
                        <p></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Pricing tables start -->
<div class="pricing-tables content-area">
    <div class="container">
        <!-- Main title start -->
        <div class="main-title">
            <h1></h1>
            <div class="border">
                <div class="border-inner"></div>
            </div>
            <p>Mit unseren Preisen können wir beste Leistung zu fairen Preisen bieten.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-03s">
                <!-- Pricing tables box start-->
                <div class="pricing-tables-box">
                    <!-- Price Header -->
                    <div class="price-header">
                        <!-- Title-->
                        <h3>Basic</h3>
                        <!-- Price -->
                        <span>
                            <em>€ </em>280
                        </span>
                    </div>
                    <!-- details -->
                    <div class="details">
                        <ul>
                            <li>
                                Druck auf DIN A3 Bild
                                <div class="checks">&#9989;</div>
                            </li>
                            <li>
                                Glänzendes Fotopapier
                                <div class="checks">&#9989;</div>
                            </li>
                            <li >
                                weitere Bildrechte
                                <div class="checks">&#10060;</div>
                            </li>
                            <li>
                                Vervielfältigung
                                <div class="checks">&#10060;</div>
                            </li>
                            <li>
                                Download Datei
                                <div class="checks">&#10060;</div>
                            </li>
                            <li >
                                Jedes weitere Bild<sup>*2</sup>
                                <i>60€</i>
                            </li>
                            
                        </ul>
                        <!-- Btn -->

                    </div>
                </div>
                <!-- Pricing tables box end-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                <!-- Pricing tables box start-->
                <div class="pricing-tables-box " >
                    <!-- Price Header -->
                    <div class="price-header price-header-red" style="background: #0088CC">
                        <!-- Title-->
                        <h3>Standard</h3>
                        <!-- Price -->
                        <span>
                            <em>€ </em>350
                        </span>
                    </div>
                    <!-- details -->
                    <div class="details">
                        <ul>
                            <li>
                                Download
                                <div class="checks">&#9989;</div>
                            </li>
                            <li>
                                Drucken so oft Sie wollen
                                <div class="checks">&#9989;</div>
                            </li>
                            <li >
                                Vervielfältigen so oft Sie wollen
                                <div class="checks">&#9989;</div>
                            </li>
                            <li>
                                online verwenden
                                <div class="checks">&#10060;</div>

                            </li>
                                <li>
                                Datei im Raw Format
                                    <div class="checks">&#10060;</div>

                            </li>
                            
                            <li >
                                Jedes weitere Bild<sup>*2</sup>
                                <i >80€</i>
                            </li>
                        </ul>
                        <!-- Btn -->

                    </div>
                </div>
                <!-- Pricing tables box end-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                <!-- Pricing tables box start-->
                <div class="pricing-tables-box">
                    <!-- Price Header -->
                    <div class="price-header">
                        <!-- Title-->
                        <h3>Premium</h3>
                        <!-- Price -->
                        <span>
                            <em>€ </em>500
                        </span>
                    </div>
                    <!-- details -->
                    <div class="details">
                        <ul>
                            <li>
                                Fotoleinwand
                                <div class="checks">&#9989;</div>
                            </li>
                            <li>
                                hochwertiges Material
                                <div class="checks">&#9989;</div>
                            </li>
                            <li >
                                90x60 (auf Wunsch auch in anderen Formaten)
                                <div class="checks">&#9989;</div>
                            </li>
                            <li>
                                Perfekt fürs Wohnzimmer
                                <div class="checks">&#9989;</div>
                            </li>

                            
                        </ul>
                        <!-- Btn -->

                    </div>
                </div>
                <!-- Pricing tables box end-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInRight delay-03s">
                <!-- Pricing tables box start-->
                <div class="pricing-tables-box">
                    <!-- Price Header -->
                    <div class="price-header">
                        <!-- Title-->
                        <h3>Professional</h3>
                        <!-- Price -->
                        <span>
                            <em>€ </em>700
                        </span>
                    </div>
                    <!-- details -->
                    <div class="details">
                        <ul>
                            <li>
                                Download
                                <div class="checks">&#9989;</div>
                            </li>
                            <li>
                                Lizenz zur Bearbeitung
                                <div class="checks">&#9989;</div>
                            </li>
                            <li >
                                Lizenz zur kommerziellen Verwendung
                                <div class="checks">&#9989;</div>
                            </li>
                            <li>
                                Datei im Raw Format <sup>*1</sup>
                                <div class="checks">&#9989;</div>
                            </li>
                            <li hidden="true">
                                inkl. Basic Paket
                                <i class="fa fa-check"></i>
                            </li>
                            <li>
                                Jedes weitere Bild<sup>*2</sup>
                                <i>90€</i>
                            </li>
                        </ul>
                        <!-- Btn -->

                    </div>
                </div>
                <!-- Pricing tables box end-->
            </div>

        </div>
        <br/>
        <sup>*1</sup><p>Aufgrund der Größe von Raw Bildern können wir diese NICHT permanent als Download zur Verfügung stellen. Sie erhalten von uns einen gesonderten Link zum Download wenn wir die Dateien online gestellt haben.</p>
        <sup>*2</sup><p>Bitte für weitere Bilder eine Anfrage an info@heligraphy.at senden</p>
    </div>
</div>
<!-- Pricing tables end -->

<!-- Partners block start -->
<div class="partners-block" hidden="true">
    <div class="container">
        <h3>Brands $ Partners</h3>
        <div class="container">
            <div class="col-md-12">
                <div class="carousel our-partners slide" id="ourPartners">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/180x105" alt="brand-1" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/180x105" alt="/brand-2" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/180x105" alt="brand-3" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/180x105" alt="brand-4" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="#">
                                    <img src="http://placehold.it/180x105" alt="brand-5" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#ourPartners" data-slide="prev"><i class="fa fa-chevron-left icon-prev"></i></a>
                    <a class="right carousel-control" href="#ourPartners" data-slide="next"><i class="fa fa-chevron-right icon-next"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partners block end -->

<!-- Footer start-->
<footer>
    <div class="container" th:replace="fragments/footer :: footer">
        <p>footer</p>
    </div>
</footer>
<!-- Footer end-->

<!-- Copy right start-->
<div class="copy-right">
    <div class="container">
        <p>Copyright 2017. All rights reserved by: Heligrapy</p>
    </div>
</div>
<!-- Copy right end-->
<script>
    $("#fa").load(location.href + " #fa");
</script>

<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-slider.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollUp.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Custom javascript -->
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>