<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Backend</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/old/vendor/bootstrap/css/bootstrap.min.css}"/>


    <!-- Plugin CSS -->
    <link rel="stylesheet" th:href="@{/css/old/vendor/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/old/vendor/simple-line-icons/css/simple-line-icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/old/vendor/device-mockups/device-mockups.min.css}"/>

    <!-- Theme CSS -->
    <link href="css/new-age.min.css" rel="stylesheet" th:href="@{/css/new-age.min.css}"/>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/old/custom.css}"/>
</head>

<body class="greyback">

<div>Test</div>
<!-- jQuery -->
<script th:src="@{/js/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>


<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-slider.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollUp.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Custom javascript -->
<script type="text/javascript" src="js/app.js"></script>


</body>

</html>
