<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head :: head">


</head>
<body>

<!-- Header start -->
<header>
    <div class="container" th:replace="fragments/header :: header">
        <p>header</p>
    </div>
</header>



<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-area">
                        <h2>Warenkorb</h2>
                        <p></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sub banner end -->
<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Bild</th>
            <th style="width:10%"></th>
            <th style="width:8%">Stück</th>
            <th style="width:22%" class="text-center">Preis</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item,it :${Items}" class="p">
            <td data-th="Bild" >
                <div class="row">
                    <div class="col-sm-4"><img th:src="@{/shoppingchartSum/}+${item.id}" src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                    <div class="col-sm-8" style="vertical-align: middle">
                        <h4 class="nomargin" th:text="'Bild ' + ${it.count}">Product 1</h4>

                    </div>
                </div>
            </td>
            <td data-th="Preis" th:text="${item.price}+'€'" style="vertical-align: middle" th:id="'pr'+${it.index}">$1.99</td>
            <td data-th="Stück" disabled="true" style="vertical-align: middle">
                <input type="number" class="form-control text-center" value="1" th:value="${item.quantity}"/>
            </td>
            <td data-th="Subtotal" class="text-center" th:text="${item.price}*${item.quantity} + ' €'" style="vertical-align: middle"></td>
            <td class="actions" data-th="" style="vertical-align: middle">
               <form th:action="@{/itemDelete/}+${it.index}">
                   <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
               </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total 1.99</strong></td>
        </tr>
        <tr>
            <td><a th:href="@{/weiterEinkaufen}" class="btn btn-view"><i class="fa fa-angle-left"></i> Weiter einkaufen</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center" id="total"><strong>Total $1.99</strong></td>
            <td><a href="/checkout" class="btn btn-success btn-block">Weiter zur Kassa <i class="fa fa-angle-right"></i></a></td>
        </tr>
        </tfoot>
    </table>
</div>




<footer>
    <div class="container" th:replace="fragments/footer :: footer">
        <p>footer</p>
    </div>
</footer>


</body>
<script src="js/shoppingCart.js">

</script>
</html>