<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Backend</title>

    <!-- Bootstrap Core CSS -->
    <link  rel="stylesheet"
          th:href="@{css/bootstrap.min.css}"/>



    <!-- Theme CSS
    <link href="css/new-age.min.css" rel="stylesheet" th:href="@{/css/new-age.min.css}"/>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->

    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>

<body class="greyback">

<br/>
<br/>
<br/>

<div class="container">
    <div class="row">
        <form action="#" th:action="@{/loadBilder}" th:object="${uploadObject}" method="post"
              enctype="multipart/form-data" class="form-group">
            <div class="col-md-6">
                <div id="adresse">

                    <p>Straße: <input type="text" id="strasse" th:field="*{adresse}" class="form-control"/></p>
                    <p>Ort: <input type="text" id="ort" th:field="*{ort}" class="form-control"/></p>
                    <p>PLZ: <input type="text" id="plz" th:field="*{plz}" class="form-control"/></p>
                    <p>Land: <input type="text" id="land" th:field="*{land}" class="form-control"/></p>


                </div>
            </div>
            <div class="col-md-6">
                <br/>

                <!--
                            <p><select id="preis" th:field="*{preis}" >
                                <option th:value="200">200€</option>
                                <option th:value="220">220€</option>
                                <option th:value="250">250€</option>
                                <option th:value="000">Nach Angebot</option>
                            </select>
                            </p>-->
                <p>Fotograf: <!--<input type="text" id="fotograf" th:field="*{fotograf}" class="form-control"/></p>-->
                <select th:field="*{fotograf}" th:remove="all-but-first">
                    <option th:each="fotog : ${fotografen}"
                            th:value="${fotog.id}" th:text="${fotog.name}+' ('+${fotog.anteil} + '%)'">Credit card</option>
                    <option>Another payment method</option>
                    <option>Another payment method</option>
                </select>
                </p>
                <input type="file" name="bild" accept="image/*" multiple="true" th:field="*{bilder}"
                       class="form-control"/>
                <br/>
                <input class="btn btn-warning" type="submit"/>
            </div>
        </form>
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
        <br/>
            <form action="#" th:action="@{/upload/abrechnung/}" th:object="${fotografid}" method="post">
                <select th:field="*{id}" th:remove="all-but-first">
                    <option th:each="fotog : ${fotografen}"
                            th:value="${fotog.id}" th:text="${fotog.name}"></option>

                </select>
                <input class="btn btn-warning" type="submit" value="Abrechnen"/>
            </form>
            <a href="/rechnungerstellen"><button class="btn btn-warning">Rechnung erstellen</button></a>

        </div>
    </div>
    <div id="hochgeladeneBilder" class="container">



        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel-group" id="accordion">

                        <div th:each="id,iter:${ids}" class="panel panel-default">
                            <form th:action="@{/bildgruppel/}+${id}" method="GET" enctype="multipart/form-data" class="form-group">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" th:href="${'#collapse'+iter.index}" th:text="'Bildgruppe ' + ${id}"><span
                                            class="glyphicon glyphicon-folder-close">
                    </span>Bildgruppen ID</a> <input type="submit" class="btn btn-warning right" value="Bilder löschen"/>
                                </h4>
                            </div>
                            </form>
                            <div th:id="${'collapse'+iter.index}" class="panel-collapse collapse ">

                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Gruppen ID</th>
                                        <th>Bild</th>
                                        <td>Fotograf</td>

                                        <th>Aktion</th>
                                    </tr>
                                    <tr th:each="bild : ${Bilder}" th:if="${bild.value.bild != null and bild.value.id==id}">
                                        <td th:text="${bild.value.id}">ID</td>
                                        <td><img th:src="@{/upload/}+${bild.value.bildid}"/></td>
                                        <td th:text="${bild.value.erzeuger}">Fotograf</td>

                                        <td>
                                            <form th:action="@{upload/delet/}+${bild.value.bildid}"><input type="submit" class="btn btn-warning"
                                                                                                           th:value="Löschen"/></form>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

<!-- jQuery -->
<script th:src="@{/js/jquery/jquery-2.2.0.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>


<script type="text/javascript" th:src="@{js/jquery-2.2.0.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-slider.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Custom javascript -->
<script type="text/javascript" src="js/app.js"></script>


</body>

</html>
