<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-mysql-springdatajpa-hibernate:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="ROOT-1.war">
      <element id="artifact" artifact-name="spring-boot-mysql-springdatajpa-hibernate:war exploded" />
    </root>
  </artifact>
</component>