<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">

</head>
<body>


<div class="container " th:fragment="contact" >
    <div class="contact-form">
        <form id="contact_form" th:action="@{/sendMailcontact}" th:object="${contactCommand}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group fullname">
                        <input type="text" name="full-name" class="input-text" th:field="*{name}" placeholder="Name"/>
                    </div>
                    <div class="form-group enter-email">
                        <input type="email" name="email" class="input-text" th:field="*{mail}" placeholder=" Email"/>
                    </div>
                    <div class="form-group subject">
                        <input type="text" name="subject" class="input-text" th:field="*{betreff}" placeholder="Betreff"/>
                    </div>
                    <div class="form-group number">
                        <input type="text" name="phone" th:field="*{telefon}" class="input-text" placeholder="Telefon"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group message">
                        <textarea class="input-text" name="message" th:field="*{nachricht}" placeholder="Ihr Anliegen"></textarea>
                    </div>
                    <div class="form-group send-btn">
                        <button type="submit" class="btn btn-submit">Nachricht senden</button>
                    </div>
                </div>
            </div>
        </form>
    </div>



</div>

</body>
</html>